body{
			background-color: #00ccff;
		}


.head{
	text-align: center;
}
a{
	text-decoration: none;
}

td{
	
	border-radius: 10px;
	background-color: #ff9999;
	color: black;
	width: 20%;
	text-align: center;
	padding: 5px;
}

.mid{
	text-align: center;
}

.foot p{
	text-align: center;
}